@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.layout{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to bottom,white,aqua);
}
.container{
    width: 60%;
    height: 90%;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px aqua  ;
}

.brand-logo{
    font-size: 20px;
    font-weight: 800;
}
.navbar-root{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: rgba(134, 175, 190, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    z-index: 100;
    margin-bottom: 80px;
    margin-top: 5px;
}


.nav_functionality{
display: flex;
gap: 15px;
justify-content:center;
align-items: center;
}

.nav_links{
    text-decoration: none;
    color: brown;
}

.nav_links:hover{
    color: black;
    border-bottom: 1px solid black;
    transition: all 0.8s ease-out;
    
}

.nav_button{
    color: white;
    background-color:blueviolet;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0px;
    font-weight:400;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav_button:hover{
    background-color: blue;
    transition: all 0.3s;
    cursor: pointer;
}

.cap_table_basics{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #f3f4f6;
    border: 1px solid #d4d4d8;
    border-radius: 15px;
    width: fit-content;
    padding: 6px 15px;
    margin: 30px auto;
    cursor: pointer;
    font-weight: 500;
    &:hover{
        background-color: #d4d4d8 ;
        transition: background-color 0.5s ease-out;
    }
}


.right_arrow{
    height: 20px;
}

.hero_main_heading{
    width: fit-content;
    margin: 0px auto;
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    line-height: 1;  /* Add this line to reduce space between lines */
}

.hero_automated{
    margin-top: 20px;
    color: #7c8a99;
    text-align: center;

}

.hero_buttons{
    display: flex;
    margin: 30px auto;
    width: fit-content;
    gap: 8px;
}
.nav_button_second{
    all: unset;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0px;
    font-weight:400;
    cursor: pointer;
}

.hero_image{
    width:100%;
}
.below_section{
    margin: 0 auto;
    margin-top: 50px;
    max-width: fit-content;
}
.below_section_2{
    font-size: 25px;
    font-weight: 500; 
}
.below_section_2_div{
    font-size: 25px;
    font-weight: 500; 
    color: #2e79ee;
}
.below_section_2_name{
    margin-top: 5px;
    color: #7c8a99;
    text-align: center;  
}

.Container_2{
    width: 100vw;
    background-color: #f9f9f9;
    height: 100%;
}

.TwoDiv{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TwoDiv_base{
    padding: 5px;
    border: 1px solid #f0e9e9;
    border-right-style:none;
    border-radius: 10px 0px 0px 0px;
}
.TwoDiv_base_2{
    padding: 5px;
    border: 1px solid #f0e9e9;
    border-radius: 0px 10px 0px 0px;
}
.TwoDiv_base_text{
    color: #2e75f5;
    margin: 0px auto;
    width: fit-content;
    font-size: 10px;
    font-weight: 600;
}
.TwoDiv_png_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: fit-content;
}
.size-6{
    width: 18px;
    height: 18px;
    color: #2e75f5;
}
.TwoDiv_next_text_content{
    width: fit-content;
    font-size: 10px;
    margin: 5px auto;
}
.align_them{
   text-align: left; 
}
.OneDiv{
    width: 100%;
    padding: 80px;
    height: auto;
    background-color: #efeff1;
}
.OneDiv_text{
    font-size: 25px;
    font-weight: 500;
}
.profile_section{
    width: fit-content;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.founder_pic{
    height: 36px;
    width: 36px;
    border-radius: 30px;
    margin-top: 10px; 
}

.align_them {
    text-align: left;
    padding: 0 20px;
}
.profile_section_text{
    margin-top: 10px;
    margin-left: 5px ;
}
.profile_section_text_n{
    font-weight: 500;
    font-size: 15px;

}
.profile_section_text_n2{
    font-weight: 400;
    font-size: 10px;
    color: grey;
}
.hero_image_right{
    width: 100%;
    margin-bottom: 2px;
}
.TwoDiv_png_text_container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 4px;
    width: fit-content;
}